---
title: 'Galería'
description: 'Meta description for the page'
keywords: 'Alojamiento histórico en Cádiz, fotos de Casa Nautilus, fotos de hoteles asequibles, galería de hoteles en Andalucía, galería de hoteles, viajes económicos a Cádiz'
preloadImg: '/assets/images/castle.webp'
permalink: 'es/galeria/'
eleventyNavigation:
  key: Galeria
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">Nuestras Alojamientos</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/castle.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/castle.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/castle.webp"
			alt="castle on the coast"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                   Galeria                    -->
<!-- ============================================ -->

<section id="gallery">
	<div class="cs-container">
		<div class="cs-image-group">
			<!-- Row 1-->
			<div class="cs-row cs-row-1">
				<picture class="cs-picture cs-picture1">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/pillow1.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/pillow1.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						srcset="/assets/images/portfolio/pillow1.webp"
						alt="embroidered pillow with nautical themes"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture2">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/plant.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/plant.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/plant.webp"
						alt="plants on rooftop terrace at casa nautilus"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture3">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/double-balcony.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/double-balcony.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/double-balcony.webp"
						alt="double bed room with balcony"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture1">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/postcard.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/postcard.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/postcard.webp"
						alt="postcard of cadiz laying on a towel in the shape of a boat"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture2">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/master.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/master.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/master.webp"
						alt="Largest room at casa nautilus with private rooftop terrace area"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture3">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/bath2.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/bath2.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/bath2.webp"
						alt="white tiled bathroom with sink"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
			</div>
			<!-- Row 2 -->
			<div class="cs-row cs-row-2">
				<picture class="cs-picture cs-picture1">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/room-balcony.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/room-balcony.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/room-balcony.webp"
						alt="room with balcony and balcony seating"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture2">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/globe.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/globe.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						srcset="/assets/images/portfolio/globe.webp"
						alt="antique nautical globe of the world"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture3">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/double-bed.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/double-bed.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/double-bed.webp"
						alt="room with double beds"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<!-- Additional Images -->
				<picture class="cs-picture cs-picture1">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/roof1.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/roof1.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/roof1.webp"
						alt="rooftop terrace at casa nautilus"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture2">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/coffee-balcony.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/coffee-balcony.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/coffee-balcony.webp"
						alt="balcony seating in room"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture3">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/skylight.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/skylight.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/skylight.webp"
						alt="sky light illuminating the lobby"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
			</div>
			<!-- Row 3 -->
			<div class="cs-row cs-row-3">
				<picture class="cs-picture cs-picture1">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/entrance.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/entrance.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/entrance.webp"
						alt="calle barrocal where casa nautilus is located"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture2">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/bed-single.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/bed-single.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/bed-single.webp"
						alt="single bedroom"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture3">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/room1.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/room1.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/room1.webp"
						alt="queen size bedroom"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<!-- Additional Images -->
				<picture class="cs-picture cs-picture1">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/pillow2.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/pillow2.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/pillow2.webp"
						alt="embroidered pillow ontop of a bed"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture2">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/bath1.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/bath1.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/bath1.webp"
						alt="white tiled bathroom and shower"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture3">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/room-1st-fl.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/room-1st-fl.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/room-1st-fl.webp"
						alt="queen size bed room"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
			</div>
		</div>
	</div>
</section>

{% endblock %}
